page {
  background-color: #f7f7f7;
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200rpx;

  .img {
    width: 300rpx;
    height: 300rpx;

    image {
      width: 100%;
      height: 100%;
    }
  }

  .txt {
    font-size: 28rpx;
    color: #666;
    padding: 20rpx 0;
  }
}

// 加载提示文字
.loading-text {
  text-align: center;
  font-size: 28rpx;
  color: #666;
  padding: 20rpx 0;
}
