.noticePage {
    padding: 20rpx;
    background-color: #f8f8f8;

    .item-card {
        margin-bottom: 40rpx;

        .time {
            width: 300rpx;
            padding: 6rpx 0;
            margin: 0 auto;
            text-align: center;
            background: rgba(36, 51, 41, 0.2);
            border-radius: 28rpx;
            margin-bottom: 20rpx;
            color: #fff;
            font-size: 28rpx;
        }

        .content-card {
            background: #fff;
            padding: 20rpx;
            border-radius: 18rpx;

            .top {
                padding-bottom: 20rpx;

                .tips {
                    color: #000;
                    font-size: 30rpx;
                }

                .content {
                    margin-top: 20rpx;
                    font-size: 24rpx;
                    max-height: 180rpx;
                    line-height: 40rpx;
                    color: #666;
                    // 三行超出隐藏显示省略号
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }

            .bottom {
                border-top: 1rpx solid #eee;
                padding-top: 10rpx;
                text-align: right;
                color: #ccc;
                font-size: 24rpx;
            }
        }
    }

    .loading-text {
        text-align: center;
        font-size: 28rpx;
        color: #666;
        padding: 20rpx 0;
    }
}